<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
  	<servlet-name>ysguptha</servlet-name>
  	<servlet-class>ysg.FullName</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ysguptha</servlet-name>
  	<url-pattern>/fullname</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ys</servlet-name>
  	<servlet-class>ysg.TwoTimes</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ys</servlet-name>
  	<url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
</web-app>